<div>
    <p>Hi <%= tempUser.name %>!</p>
    <br>
    <p>Your OTP to create your account on Codeial is <strong><%= tempUser.otp %></strong></p>
    <br>
    <p>Note: If you did not started the account creation process on Codeial then <strong>safely ignore this email</strong>
        and <strong>don't share this OTP with anyone.</strong>
    </p>
    <br>
    <p>Regards!</p>
</div>