<link rel="stylesheet" href="/css/feed.css">

<main>
    <a id = "scroll-to-top-btn" class="btn-floating btn-large waves-effect waves-light red transparent-opacity">
        <i class="fas fa-arrow-up"></i>
    </a>
    <section class = "post-section row">
        <div class = "col xs0 s0 m1 l2 xl3">

        </div>
        <div class = "col xs12 s12 m10 l8 xl6 post-card">
            <form id = "new-post-form" action = "/posts/create" method = "POST" class = "card">
                <span class = "card-title">What's on your Mind?</span>
                <div class = "input-field">
                    <textarea name = "content" id = "content" class = "materialize-textarea" cols="30" rows="3" required></textarea>
                    <label for="content">Write a Post</label>
                </div>
                <div class = "center-align">
                    <button class="btn waves-effect waves-light" type="submit">Post
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class = "col xs0 s0 m1 l2 xl3">

        </div>
    </section>

    <section class = "feed-section row">
        <div class = "col xs0 s0 m1 l2 xl3">

        </div>
        <div class = "col xs12 s12 m10 l8 xl6">
            <div class = "center-align">
                <h4>Your Feed</h4>
            </div>
            <div class = "feed-posts-container" id = "feed-posts-container">
                <% for(post of posts){ %>
                    <%- include('_post') %>  
                <% } %> 
            </div>
        </div>
        <div class = "col xs0 s0 m1 l2 xl3">
            
        </div>
    </section>
</main>

<script src = "/js/feed.js"></script>