<main>
    <section class = "update-section row">
        <div class = "col xs0 s0 m1 l2 xl3">

        </div>
        <div class = "col xs12 s12 m10 l8 xl6">
            
        </div>
        <div class = "col xs0 s0 m1 l2 xl3">
            
        </div>
    </section>
</main>