<link rel="stylesheet" href="/css/user_profile.css">

<main>
    <section class = "post-section row">
        <div class = "col xs0 s0 m1 l2 xl3">

        </div>
        <div class = "col xs12 s12 m10 l8 xl6 post-card">
            <form action = "/posts" method = "POST" class = "card">
                <span class = "card-title">What's on your Mind?</span>
                <div class = "input-field">
                    <textarea name = "content" id = "content" class = "materialize-textarea" cols="30" rows="3" required></textarea>
                    <label for="content">Write a Post</label>
                </div>
                <div class = "center-align">
                    <button class="btn waves-effect waves-light" type="submit">Post
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class = "col xs0 s0 m1 l2 xl3">

        </div>
    </section>

    <section class = "feed-section row">
        <div class = "col xs0 s0 m1 l2 xl3">

        </div>
        <div class = "col xs12 s12 m10 l8 xl6">
            <div class = "align-center">
                <h4>Your Feed</h4>
            </div>
            <div class = "feed-posts-container">
                <% for(post of posts){ %>
                    <div class = "post card">
                        <h5><%= post.user_object.name %></h5>
                        <p class = "#e0e0e0 grey-text lighten-2">Posted on : <%= post.createdAt %></p>
                        <div>
                            <%= post.content %> 
                        </div>
                        <div class = "like-comment-tabs">
                            <div class = "col s6">

                            </div>
                            <div class = "col s6">

                            </div>
                        </div>
                    </div> 
                <% } %> 
            </div>
        </div>
        <div class = "col xs0 s0 m1 l2 xl3">
            
        </div>
    </section>
</main>