main{
    margin-top: 1rem;
}

.post-card>.card{
    padding: 1rem;
}

.post{
    padding: 0 1rem;
    padding-top: 0.1rem;
    .like-comment-tab{
        margin-top: 1rem;
        >div{
            padding: 1rem;
            &:hover{
                background-color: rgba(233, 230, 230, 0.603);
            }
        }
    }
}

.waves-effect.waves-blue .waves-ripple {
     background-color: #24a0ed;
}

.like-comment-tab{
    margin-bottom: 0;
}

.post-comments{
    padding-bottom: 0.5rem;
    >form{
        padding-bottom: 1rem;
        >div{
            &:first-child{
                margin-top: 0;
            }
        }
    }
}

.comment{
    border-radius: 2rem;
    border-top-left-radius: 0;
    background-color: rgba(192, 188, 188, 0.637);
    padding: 0.7rem;
    padding-top: 0.1rem;
    margin-bottom: 1rem;
}