main {
  margin-top: 1rem; }

.post-card > .card {
  padding: 1rem; }

.post {
  padding: 0 1rem;
  padding-top: 0.1rem; }
  .post .like-comment-tab {
    margin-top: 1rem; }
    .post .like-comment-tab > div {
      padding: 1rem; }
      .post .like-comment-tab > div:hover {
        background-color: rgba(233, 230, 230, 0.603); }

.waves-effect.waves-blue .waves-ripple {
  background-color: #24a0ed; }

.like-comment-tab {
  margin-bottom: 0;
  margin-top: 0 !important; }

.post-comments {
  padding-bottom: 0.5rem; }
  .post-comments > form {
    padding-bottom: 1rem; }
    .post-comments > form > div:first-child {
      margin-top: 0; }

.comment {
  display: flex; }
  .comment .user-image {
    width: 3rem; }

.comment-container {
  border-radius: 0.7rem;
  border-top-left-radius: 0;
  background-color: #f2f2f2;
  padding: 0.7rem;
  padding-top: 0.3rem;
  margin-bottom: 1rem;
  flex-basis: 85%; }
  .comment-container h6 {
    font-weight: bold; }
  .comment-container > p {
    margin: 0; }

.comment-image-container {
  flex-basis: 15%;
  flex-shrink: 0;
  flex-grow: 1;
  margin: 0; }

.comment-user-deletebtn-container {
  display: flex;
  justify-content: space-between; }
  .comment-user-deletebtn-container > h6 {
    margin: 0; }

.like-comment-numbers {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem; }

#scroll-to-top-btn {
  position: fixed;
  bottom: 5px;
  right: 5px;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out; }
  #scroll-to-top-btn:hover {
    opacity: 1; }

.user-intro {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.post-dropdown-btn {
  padding: 1.2rem;
  border-radius: 50%;
  transform: scale(1.2); }
  .post-dropdown-btn:hover {
    background-color: rgba(233, 230, 230, 0.781); }

.comment-dropdown-btn {
  padding: 1rem;
  border-radius: 50%; }
  .comment-dropdown-btn:hover {
    background-color: #e9e6e6; }

.post-content {
  overflow-wrap: break-word; }

.post-user-image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem; }
  .post-user-image-container h5 {
    margin: 0; }

.comment-image {
  margin-right: 0.4rem; }

.post-time {
  margin: 0;
  margin-top: 0.3rem; }

.comment-para {
  margin: 0;
  margin-top: 0.2rem;
  hyphens: auto; }

.fade-opacity {
  opacity: 0.5; }

.transparent-opacity {
  opacity: 0;
  visibility: hidden; }
