html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important; }

body {
  margin: 0; }

a {
  text-decoration: none;
  color: black; }

header {
  background-color: #25343c;
  box-shadow: 0px 4px 10px 4px #0000003b; }
  header a {
    text-decoration: none;
    color: white; }

hr {
  height: 1px;
  background-color: #ccc;
  border: none; }

.sign-container {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 1.15rem; }
  .sign-container div:not(.no-apply) {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .sign-container h4 {
    margin: 0.5rem;
    color: white; }
  .sign-container a:not(.no-apply) {
    display: inline-block;
    padding: 0.8rem;
    margin: 0.5rem;
    border: solid white 2px;
    border-radius: 0.5rem;
    transition-duration: 0.2s;
    transition-timing-function: linear; }
    .sign-container a:not(.no-apply):hover:not(.no-apply) {
      color: black;
      background-color: white; }

.user-image {
  width: 3.5rem;
  height: 3.5rem !important;
  margin-right: 0.5rem; }

#user-dropdown-link {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.6rem 0;
  padding-left: 0.5rem;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out; }
  #user-dropdown-link:hover {
    background-color: rgba(202, 195, 195, 0.479); }

/* width */
::-webkit-scrollbar {
  width: 8px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

@media screen and (max-width: 576px) {
  .sign-container h4 {
    display: none; } }
